body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
    padding-top: 10px; /* Changed padding-top to 10px */
    padding-bottom: 100px; /* Added padding-bottom */
    box-sizing: border-box;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    margin-bottom: 40px;
    border: 2px solid #000080; /* Niebieska obwódka */
}

.serwis-title {
    color: white; /* Biały kolor tekstu */
    background-color: #00008B; /* Ciemnoniebieskie tło */
    padding: 20px; /* Większy wewnętrzny odstęp dla efektu prostokąta */
    border-radius: 10px; /* Zaokrąglone rogi */
    text-align: center; /* Wyśrodkowanie tekstu */
    display: inline-block; /* Pozwala na łatwe ustawienie szerokości */
    width: 100%; /* Możesz dostosować szerokość do potrzeb */
    box-sizing: border-box; /* Zapewnia, że padding nie rozszerza szerokości poza 100% */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#suggestionsContainer {
    text-align: left;
    margin-bottom: 10px;
    max-height: 150px; /* Limit height of suggestions */
    overflow-y: auto; /* Enable scrolling for overflow */
}

.suggestionLink {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}

.suggestionLink:hover {
    background-color: #f0f0f0;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #00008B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#resultTextView {
   margin-top: 20px;
    padding: 20px;
    border: 2px solid #00008B;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: justify; /* Justify the text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    line-height: 1.6em;
    word-wrap: break-word; /* Łamie długie słowa */
    hyphens: auto; /* Dodaje dzielenie wyrazów, jeśli to możliwe */
    line-height: 1.6em;
    text-align: justify;
}
    #aboutInfo {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #00008B;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    line-height: 1.6em;
}
